.Data-style{
display:flex;
flex-wrap: wrap;
justify-content:center;
align-items: center;
gap: 10px;
}

.Data-style-card{
display:flex;
flex-direction:column;
background-color: cornsilk;
height:350px;
width:300px;
}
.Image-maps{
border:darkgreen solid 2px;
padding:20px;
margin: auto;
height:150px;
width:150px;
}
.Add-to-cart-button{
 width:100px;
 padding:10px;
 margin: 20px auto;
}
